.container {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background-color: rgb(243, 245, 255);
  display: flex;
  gap: 10px;
  padding: 10px;

  & > div {
    padding: 20px;
  }
  .left {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }

  .right {
    flex: 1;

    h1 {
      font-size: 50px;
    }

    & > div {
      display: flex;
      flex-wrap: nowrap;
      // overflow: scroll;
      gap: 8px;
      margin-top: 16px;
      .item {
        padding: 8px;
        width: calc(
          25% - 16px - 6px
        ); // size (25%) - 16px (2 * left/right padding) - 6px (8px [gap size] * 3 [gap number] / 4 [item number in same line])
        min-width: calc(
          25% - 16px - 6px
        ); // size (25%) - 16px (2 * left/right padding) - 6px (8px [gap size] * 3 [gap number] / 4 [item number in same line])
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
